<div id="<%= dom_id part %>">
  <p>
    <strong><%= I18n.t('supplier.part._part_supplier') %>:</strong>
    <%= part.supplier.name %>
  </p>

  <p>
    <strong><%= I18n.t('activerecord.attributes.part.title') %>:</strong>
    <%= part.title %>
  </p>

  <p>
    <strong><%= I18n.t('activerecord.attributes.part.description') %>:</strong>
    <%= part.description %>
  </p>

</div>
