<p style="color: green"><%= notice %></p>

<h1><%= I18n.t('part.view_index_title') %></h1>

<div id="parts">
  <% @parts.each do |part| %>
    <%= render part %>
    <p>
      <%= link_to I18n.t('part.show'), part %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to I18n.t('part.new'), new_part_path %> |