<p style="color: green"><%= notice %></p>

<%= render @part %>

<div>
  <%= link_to I18n.t('supplier.part.edit'), edit_supplier_part_path(@supplier, @part) %> |
  <%= link_to I18n.t('supplier.part.back'), supplier_parts_path %>

  <%= button_to I18n.t('supplier.part.destroy'), [@supplier,@part], method: :delete %>
</div>
