<div id="<%= dom_id author %>">
  <p>
    <strong>Nome:</strong>
    <%= author.nome %>
  </p>

  <p>
    <strong>Biography:</strong>
    <%= author.biography %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= author.nationality %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= author.birth_date %>
  </p>

  <p>
    <strong>Literary genre:</strong>
    <%= author.literary_genre %>
  </p>

  <p>
    <strong>Bibliography:</strong>
    <%= author.bibliography %>
  </p>

  <p>
    <strong>Contacts:</strong>
    <%= author.contacts %>
  </p>

</div>
