<p style="color: green"><%= notice %></p>

<%= render @author %>

<div>
  <%= link_to I18n.t('author.book.show_books'), author_books_path(@author) %>
  <br>
  <br>
  <%= link_to I18n.t('author.edit'), edit_author_path(@author) %> |
  <%= link_to I18n.t('author.back'), authors_path %>

  <%= button_to I18n.t('author.destroy'), @author, method: :delete %>
</div>
