<div id="<%= dom_id book %>">
  <p>
    <strong><%= I18n.t('activerecord.attributes.book.title') %>:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author.name %>
  </p>
</div>
