<div id="<%= dom_id book %>">
  <p>
    <strong>Author:</strong>
    <%= book.author_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

  <p>
    <strong>Publish year:</strong>
    <%= book.publish_year %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= book.price %>
  </p>

</div>
