<p style="color: green"><%= notice %></p>

<h1><%=@author.name %> books</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to I18n.t('author.book.show'), author_book_path(author_id: book.author_id, id: book.id) %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to I18n.t('author.book.new'), new_author_book_path %> |
<%= link_to I18n.t('author.book.back_author'), author_path(@author) %>
