<p style="color: green"><%= notice %></p>

<h1><%= I18n.t('author.book.view_index_title') %></h1>
<%= form_with url: books_path, method: :get, local: true do %>
  <div>
    <%= label_tag :search, 'Pesquisar por:' %>
    <%= radio_button_tag :search, 'author', params[:search].nil? || params[:search] == 'author' %>
    <%= label_tag :search_author, 'Autor' %>
    <%= radio_button_tag :search, 'title', params[:search] == 'title' %>
    <%= label_tag :search_title, 'Título' %>
  </div>
  <div>
    <%= label_tag :query, 'Consulta' %>
    <%= text_field_tag :query, params[:query] %>
  </div>
  <div>
    <%= submit_tag 'Filtrar' %>
  </div>
<% end %>


<% if @books.any? %>
  <div id="books">
    <% @books.each do |book| %>
      <%= render book %>
      <p>
        <%= link_to I18n.t('author.book.show'), book_path(id: book.id) %>
      </p>
      <hr>
    <% end %>
  </div>
<% else %>
  <p style="color: #B00100"> <%= I18n.t('author.book.view_index.any_book_found')%></p>
<% end %>

<%= link_to I18n.t('author.book.new'), new_book_path %> |
