<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to I18n.t('author.book.edit'), edit_author_book_path(@book.author_id, @book) %> |
  <%= link_to I18n.t('author.book.back'), author_books_path(@book.author_id) %>

  <%= button_to I18n.t('author.book.destroy'), author_book_path, method: :delete %>
</div>
