<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to I18n.t('book.edit'), edit_book_path(@book) %> |
  <%= link_to I18n.t('book.back'), books_path(@book) %>

  <%= button_to I18n.t('book.destroy'), book_path(@book), method: :delete %>
</div>
