<p style="color: green"><%= notice %></p>

<h1><%= I18n.t('supplier.view_index_title') %></h1>

<div id="suppliers">
  <% @suppliers.each do |supplier| %>
    <%= render supplier %>
    <p>
      <%= link_to I18n.t('supplier.show'), supplier %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to I18n.t('supplier.new'), new_supplier_path %>
