<p style="color: green"><%= notice %></p>

<%= render @supplier %>
<% if @supplier.account %>
  <%= @supplier.account.number %>
  <%= @supplier.account.digit %>
  <%= link_to "Acessar conta", supplier_account_path(@supplier) %>
<% else %>
  Esse fornecedor não possui conta
  <%= link_to "Criar conta", new_supplier_account_path(@supplier) %>
<% end %>

<div>
  <br>
  <%= link_to I18n.t('supplier.edit'), edit_supplier_path(@supplier) %> |
  <%= link_to I18n.t('supplier.back'), suppliers_path %>

  <%= button_to I18n.t('supplier.destroy'), @supplier, method: :delete %>
</div>
