<p style="color: green"><%= notice %></p>

<%= render @supplier %>

<div>
  <p>
    <%= link_to 'Criar Nova Peça', new_supplier_part_path(@supplier) %>
  </p>
  <%= link_to "Edit this supplier", edit_supplier_path(@supplier) %> |
  <%= link_to "Back to suppliers", suppliers_path %>

  <%= button_to "Destroy this supplier", @supplier, method: :delete %>
</div>
