<div id="<%= dom_id assembly %>">
  <p>
    <strong>Title:</strong>
    <%= assembly.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= assembly.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= assembly.date %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= assembly.version %>
  </p>

</div>
