<h1><%= I18n.t('assembly.view_index_title') %></h1>

<%= link_to I18n.t('assembly.view_index.new'), new_assembly_path %>

<table>
  <thead>
  <tr>
    <th><%= I18n.t('assembly.view_index.name') %></th>
    <th><%= I18n.t('assembly.view_index.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% @assemblies.each do |assembly| %>
    <tr>
      <td><%= assembly.name %></td>
      <td>
        <%= link_to I18n.t('assembly.show'), assembly %>
        <%= link_to I18n.t('assembly.edit'), edit_assembly_path(assembly) %>
        <%= button_to I18n.t('assembly.destroy'), assembly, method: :delete, data: { confirm: I18n.t('assembly.destroy_confirm') } %>
        <hr>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
