<h1><%= @assembly.name %></h1>

<h2>Peças</h2>
<ul>
  <% @assembly.parts.each do |part| %>
    <li><%= part.title %> (<%= part.description %>)</li>
  <% end %>
</ul>

<%= link_to 'Editar', edit_assembly_path(@assembly) %>
<%= link_to 'Excluir', @assembly, method: :delete, data: { confirm: 'Tem certeza?' } %>
<%= link_to 'Voltar', assemblies_path %>
