<div id="<%= dom_id account %>">
  <p>
    <strong><%= I18n.t('activerecord.attributes.supplier.name') %>:</strong>
    <%= account.supplier.name %>
  </p>

  <p>
    <strong><%= I18n.t('activerecord.attributes.account.bank') %>:</strong>
    <%= account.bank %>
  </p>

  <p>
    <strong><%= I18n.t('activerecord.attributes.account.number') %>:</strong>
    <%= account.number %>
  </p>

  <p>
    <strong><%= I18n.t('activerecord.attributes.account.digit') %>:</strong>
    <%= account.digit %>
  </p>

</div>
