<p style="color: green"><%= notice %></p>

<h1><%=@supplier.name %> <%= I18n.t('supplier.account.view_index_title') %></h1>

<div id="accounts">
  <% @accounts.each do |account| %>
    <%= render account %>
    <p>
      <%= link_to I18n.t('supplier.account.show'), supplier_account_path(@supplier, account) %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to I18n.t('supplier.account.new'), new_supplier_account_path %> |
<%= link_to I18n.t("supplier.account.back_supplier"),  supplier_path(@supplier)%>
